@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');
body{
    color: #283747;
    font-family: 'Arial';
    text-align: center;
}

canvas{
    border: solid #283747 5px;
    border-radius: 5px;
    margin-top: -20px;
}

#imgSnake{
    width: 10%;
    height: 10%;
}

#title{
    margin-top: -50px;
}

#menu{
    margin-top: 300px;
}

button{
    border: solid #e6e6e6 2px;
    border-radius: 5px;
    background-color: transparent;
    color: #e6e6e6;
    width: 100px;
    height: 35px;
    font-family: 'Lacquer';
}

button:focus {outline:0;}

button:hover{
    border-color: #7adc76;
    color: #7adc76;
}